<% provide(:title, 'LogIn') %>
<div class='row'>
  <div style='width: 30%; float:left; margin-top: 10px; margin-left: 10%'>
  	<h2>Log In</h2>
  	
  	<%= form_for(:session, url: sessions_path) do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>
  	    <br/>
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      <% end %>

      <p>New user? <br /> Please do one of the following to sign up!</p>
      <button class='btn btn-lng' style='color: white; float: left;'> <%= link_to "Sign up!", signup_path %> </button>
      <button class='btn btn-lng' style='color: white; float: left; margin-left: 10px'> <%= link_to 'Sign up with Google+', '/auth/google' %> </button>
  </div>

  <%= render 'layouts/sidepanel' %>
</div>