<% provide(:title, 'Search Result List') %>

<div style='width: 100%; float:left'>
<h1>
	Air-Houses available
</h1>
<br>
<table class="table table-striped center">
	<tr>
		<th>Registration ID</th>
		<th>City</th>
		<th>Locality</th>
		<th>Address</th>
		<th>House Type</th>
		<th>Actions</th>
	</tr>
	<% @houses.each do |house| %>
	  <tr>
	    <td> <%= house.regid %> </td>
	    <td> <%= house.city %> </td>
	    <td> <%= house.locality %> </td>
	    <td> <%= house.address %> </td>
	    <td> <%= house.housetype %> </td>
	    <td class="text-center">
	    	<%= link_to "Show", house_path(house), class: 'label label-info'%>
	    </td>
	  </tr>
	<% end %>
	</table>
</div>