<% provide(:title, 'House List') %>

<div class='row'>
	<div class="container" style='width: 40%; float:left'>
	<h1>House Details</h1>
	<table class="table table-striped">
		<tr>
			<td> Registration ID </td>
			<td> <%= @house.regid %> </td>
		</tr>
		<tr>
			<td> City </td>
			<td> <%= @house.city %> </td>
		</tr>
		<tr>
			<td> Locality </td>
			<td> <%= @house.locality %> </td>
		</tr>
		<tr>
			<td> Address </td>
			<td> <%= @house.address %> </td>
		</tr>
		<tr>
			<td> House Type </td>
			<td> <%= @house.housetype %> </td>
		</tr>
		<tr>
			<td> Guests Accepted </td>
			<td> <%= @house.guests %> </td>
		</tr>
	</table>

	<%= link_to "Book", bookings_confirm_path(@house), class: 'btn btn-lng'%>

	</div>

	<%= render 'layouts/sidepanel' , style: 'margin-top: 20%'%>
</div>